## Mac OS
.DS_Store

## SPM
.build
Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

## VS Code
.vscode

## Ignite
Build